<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<!--<p th:text="'url: ' + ${customURL}" />-->
<form th:action="@{/}" th:object="${url}" method="post">
  <input type="text" id="pureUrl" name="pureUrl" />
  <button type="submit">Short URL</button>
</form>
<br>
<form th:action="@{/urls}">
<button type="submit">Total Url Clicks</button>
</form>
</div>

<span th:text="${clickCount}"></span>
<span style="display: none" >İRFAN BEBEĞİM<3</span>
</body>
</html>
